@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr/>
<h3>@ViewBag.Message</h3>

<address>
    Nasir Uddin<br />
    Dhaka, Bangladesh<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nunnasir@gmail.com">nunnasir@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://facebook.com/nunnasir">facebook.com/nunnasir</a><br />
    <strong>Website:</strong> <a href="https://bytcodr.com">BytCodr.com</a>
</address>