@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Vidly is a free Movie rental Application. Any registered user can rented movie any time very easily.</p>
    @Html.ActionLink("Learn more..", "About", "Home", null, new { @class = "btn btn-primary btn-large"})
</div>
