@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

@using (Html.BeginForm("New", "Customer"))
{
    <button type="submit" class="btn btn-primary">New Customer</button>
}

<br/>

@if (!Model.Any())
{
    <p>There is no Customer</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead><tr>
            <th>Customer Name</th>
            <th>Membership Type</th>
        </tr></thead>
        @foreach (var customer in Model)
        {
            <tbody>
            <tr>
                <td>@Html.ActionLink(customer.Name,"Edit","Customer", new {id = customer.Id}, null)</td>
                <td>@customer.MembershipType.Name</td>
            </tr>
            </tbody>
        }
    </table>
}